<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Última semana</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background">
  <div class="ion-padding">
    <ion-card>
      <ion-card-header>
        Gráfica de pastel
      </ion-card-header>
      <ion-card-content>
        <canvas #doughnutCanvas style="position: relative; height: 20vh; width: 40vw"></canvas>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        Line Chart
      </ion-card-header>
      <ion-card-content>
        <canvas #doughnutCanvas style="position: relative; height: 20vh; width: 40vw"></canvas>
      </ion-card-content>
    </ion-card>
    
  </div>


  <!-- <ion-datetime-button datetime="datetime"></ion-datetime-button>

<ion-modal [keepContentsMounted]="true">
  <ng-template>
    <ion-datetime display-format="DD/MM/YYYY" id="dat" [(ngModel)]="myDate" (ionChange)="showdate()"></ion-datetime>
  </ng-template>
</ion-modal> -->



<div class="botonVolver">
  <ion-button [routerLink]="['/home']" shape="round" color="tertiary">Volver a Inicio</ion-button>
</div>

</ion-content>
