<ion-header>
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>
<!-- <ion-content class="auth-form"> -->
  <ion-content class="background">
  <div>
    <img src="./assets/planta.png" />
  </div>

  <!-- Mensaje bienvenida -->

  <ion-grid [fixed]="true">
    <ion-row>
      <ion-col size="4">
        <div>
          <img src="./assets/hoja.png" />
        </div>
      </ion-col>
      <ion-col size="8">
        <h2>Bienvenido a tu aplicación de cuidado de plantas</h2>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Estado del jardín -->
  <!-- Jardín salón SM51 -->
  <ion-grid [fixed]="true" [routerLink]="['/info-plantas']">
    <ion-row>
      <ion-col>
        <h2>
          Estado del jardín: SM51
        </h2>
        <div>
          <img src="./assets/jardin.png" />
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>

  <!-- Termina Jardín SM51 -->

  <!-- Jardín salón SM53 -->
  <!-- <ion-button [routerLink]="['/grafica']" shape="round" color="tertiary">Ver gráfica</ion-button> -->
  <!-- <ion-grid [fixed]="true" id="open-modal"> -->
    <ion-grid [fixed]="true" [routerLink]="['/info-plantas-dos']">
    <ion-row>
      <ion-col>
        <h2>
          Estado del jardín: SM53
        </h2>
        <div>
          <img src="./assets/jardin.png" />
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>

  <!-- Termina Jardín SM53 -->

  <!-- Mostrar más info con un modal -->
  <ion-modal #modal trigger="open-modal" class="custom-modal">
    <ng-template>
      <div class="fondoContenidoModal">
          <ion-toolbar color="transparent">
            <ion-title>Datos del jardín</ion-title>
            <ion-buttons slot="end">
              <ion-button class="btn-cerrar" color="dark" (click)="modal.dismiss()">
                <ion-icon name="close-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-toolbar>

          <div>
            <img src="./assets/logoAbeja.png" />
          </div>

          <ion-grid [fixed]="true" id="open-modal">
            <ion-row>
              <ion-col>
                  <h2>Porcentaje de consumo de agua:</h2>

                <!-- 
          
          
                  IMPORTANTE:
                  Verificar si funciona correctamente el apartado de la división 

                  
                -->
                  
                  <h4>Capacidad máxima: 5 litros</h4>
                  <ion-progress-bar *ngIf="data" class="barrita" color="tertiary" [value]="data.porcentajeLitros/100"></ion-progress-bar>
                  <ion-progress-bar *ngIf="!data" class="barrita" color="tertiary" value="0.40"></ion-progress-bar>

                  <h2 *ngIf="data">
                    Consumo: {{data.litros}}
                  </h2>
                  <h2 *ngIf="!data">
                    Consumo: 2 Lts
                  </h2>
                  
              </ion-col>
            </ion-row>
          </ion-grid>
      </div>
    </ng-template>
  </ion-modal>
</ion-content>