<ion-header>
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="auth-form">
  <div>
    <img src="./assets/logoAbeja.png" />
  </div>
  <!-- <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <ion-button [routerLink]="['/registration']" expand="block" color="primary">Register</ion-button>
        <span class="divider line one-line">or</span>
        <span class="already">Already a user?</span>
        <ion-button [routerLink]="['/login']" expand="block" color="danger">Sign In</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col size="12">{{info.humedad}} %</ion-col>
      
    </ion-row>
  </ion-grid> -->

  <!-- Mensaje bienvenida -->
  <ion-grid [fixed]="true">
    <ion-row>
      <ion-col size="4">
        <div>
          <img src="./assets/logoAbeja.png" />
        </div>
      </ion-col>
      <ion-col size="8">
        <h2>Bienvenido al cuidado de tus plantas</h2>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Estado del jardín -->
  <!-- <ion-button id="open-modal" expand="block">Open Card Modal</ion-button> -->
  <ion-grid [fixed]="true" id="open-modal">
    <ion-row>
      <ion-col>
        <h2>
          Estado del jardín:
        </h2>
        <div>
          <img src="./assets/logoAbeja.png" />
        </div>
        
          <ion-progress-bar class="barrita" color="tertiary" value=".75"></ion-progress-bar>
        
        <h3>
          Consumo de agua: {{info.Consumo}} lts
        </h3>
      </ion-col>
    </ion-row>
    
  </ion-grid>

  <!-- Mostrar más info -->
  <ion-modal #modal trigger="open-modal" class="custom-modal">
    <ng-template>
      <ion-content>
        <ion-toolbar color="transparent">
          <ion-title>Datos del jardín</ion-title>
          <ion-buttons slot="end">
            <ion-button class="btn-cerrar" color="dark" (click)="modal.dismiss()">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
        
        <div>
          <img src="./assets/logoAbeja.png" />
        </div>

        <ion-grid [fixed]="true" id="open-modal">
          <ion-row>
            <ion-col>
              <h2>Nivel de humedad:</h2>
            <ion-progress-bar class="barrita" color="tertiary" value=".75"></ion-progress-bar>
              <h2>Consumo de agua:</h2>
            <ion-progress-bar class="barrita" color="tertiary" value=".75"></ion-progress-bar>
          </ion-col>
          </ion-row>
        </ion-grid>

      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-button shape="round">Ver gráfica</ion-button>

</ion-content>